.ui-widget,
    .ui-widget .ui-widget {
    font-size: 14px !important;
}

.divTopo{
	padding-bottom: 5px;
	
}

#login-dialog{
	width:290px;
	margin:auto;
	margin-top: 150px;
}

.grid-login{
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px;
}

h1{
	font-size: 24px;
	font-weight: 600;
	padding: 0px;
	margin: 0px;	
}

.rotulo{
	width: 150px;
}

.ui.panelgrid td{
	height: 34px;
}
.ajax-status{
	position: fixed;
	top: 1px;
	right: 10px;
}

.ui-selectmanycheckbox td label{
	padding-right: 10px;
}














